__pycache__/*
yfinance/__pycache__/*
dist
yfinance.egg-info
*.pyc
.coverage
.idea/
.vscode/
build/
*.html
*.css
*.png
*.csv

# Environments
.env
.venv
env/
venv/
ENV/
stock-etl-env/
